

.App {
  text-align: center;
  background-color: black;
}

.app-container {
  background-color: black; /* Replace with your desired color */
}


.rounded-container {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}